<h3 class="text-center">Tasks details</h3>
<br>
<br>
<div class="container container_edit">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-md-8">
      <h4>
        Title:
        <%= @task.title %></h4>
      <br>
      <h4>
        Description:
        <%= @task.description %></h4>
      <br>
      <h4>
        Date:
        <%= @task.due_date %></h4>
      <br>
      <h4>
        Priority:
        <%= @task.priority %></h4>
      <br>
    </div>
  </div>
</div>